<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>WEBSERVER_LOCATION</param-name>
        <param-value>http://localhost:8080/ShoppingListApp</param-value>
    </context-param>
    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>sldb_user</param-value>
    </context-param>
    <context-param>
        <param-name>DBPWD</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:mysql://108.61.205.105/sldb</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ShoppingListsFilter</filter-name>
        <filter-class>filters.ShoppingListsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DetailedListFilter</filter-name>
        <filter-class>filters.DetailedListFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DetailedListFilter</filter-name>
        <url-pattern>/detailedlist.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingListsFilter</filter-name>
        <url-pattern>/home.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listeners.HttpSessionListenerImpl</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPwd</servlet-name>
        <servlet-class>servlets.ResetPwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProduct</servlet-name>
        <servlet-class>servlets.NewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewShopCat</servlet-name>
        <servlet-class>servlets.NewShopCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProdCat</servlet-name>
        <servlet-class>servlets.NewProdCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>servlets.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProducts</servlet-name>
        <servlet-class>servlets.SearchProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShoppingList</servlet-name>
        <servlet-class>servlets.EditShoppingList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPwd</servlet-name>
        <url-pattern>/ResetPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/VerifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProducts</servlet-name>
        <url-pattern>/SearchProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShoppingList</servlet-name>
        <url-pattern>/EditShoppingList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
