
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #5067c2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-action-ic{
  color: #727272;
  font-size: 18px;
  margin-left: 12px
}

.item-action-ic:hover{
  color: #3d3d3d;
  cursor: pointer;
}

.list-action-ic{
  color: #f7f7f7;
  font-size: 24px;
  margin-left: 16px;
}
.last-ic{
  margin-right: 18px;
}

.first-child{
  margin-left: 18px;
}

.list-action-ic:hover{
  color: #e5e5e5;
  cursor: pointer;
}

.item-expand-ic{
    color: #969696;
}

.item-expand-ic2{
    margin-top: 10%;
    color: #969696;
    font-size: 18px;
  color: #969696;
  font-size: 18px;
}

.list-expand-ic{
  color: #fff;
  font-size: 16px;
}

.item-expand-ic:hover, .item-expand-ic2:hover{
    color: #3d3d3d;
    cursor: pointer;
}

.qty-field{
    outline: none !important;
    box-shadow: none;
}

.qty-field:active, .qty-field:hover, .qty-field:focus{
    outline: none !important;
    box-shadow: none;
    border-color: #6D7FCC;
}

.btn-add{
    background: #6D7FCC;
    color: white;
}

.btn-add:hover, .btn-add:focus{
    background: #5067C2;
    outline: none;
    cursor: pointer;
    outline: none !important;
    box-shadow: none;
}

.btn-add:active{
    background: #4156a8;
    outline: none !important;
    box-shadow: none;
}

.search-btn, .filter-cat-btn{
    background-color: #ffffff;
    color: #77787d	;
    border-color: #5067c2;
}


.filter-cat-btn{
    border-top-left-radius: 0px 0px;
}

.search-btn{
    border-top-right-radius: 0px 0px;
}

.search-btn:hover , .filter-cat-btn:hover{
    background-color: #5067c2;
    color: #ffffff;

}

.search-btn:focus, .search-btn:active , .filter-cat-btn:focus, .filtter-cat-btn:active{
    outline: none !important;
    box-shadow: none;
}

.search-field{
    border-color: #5067c2;
    border-top-left-radius: 0px 0px;
}

.search-field:focus, .search-field:active {
    outline: none !important;
    box-shadow: none;
    border-color: #5067c2;
}

.item-expand-ic:hover{
  color: #3d3d3d;
  cursor: pointer;
}
//search bar material design

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
