.form-container {
    width:95% !important;
}

@media (min-width:641px)  { 
    .form-container{
        width:70% !important;
    }
}

.form-control {
    border-width: 0 0 1px 0;
    border-color: #6D7FCC;
    border-radius: 0;
}

.form-control:focus {
    border-color: #5067c2;
    outline: none;
    box-shadow: none !important;
}

.custom-select {
    border-width: 0 0 2px 0 ;
    border-color: #6D7FCC;
    border-radius: 0;
}

.custom-select:focus {
    border-color: #5067c2;
    outline: none !important;
    box-shadow: none !important;
}

.h4{
    background-color: #5067c2;
    color: white;
    height: 70px;
}

.custom-btn{
    background-color: #6D7FCC;
    color:white;
}

.custom-btn:hover, .custom-btn:focus{
    background-color: #5067c2;
    outline: none;
    box-shadow: none !important;
}

.descr-area{
    resize:none;
}

.file-name-label{
    height: 40px;
}

.file-picker{
    display: none; 
}
.title{ 
    padding:30px; 
    background-color: #5067c2;
    color: white;
    font-size: 30px;
}

.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:30px;
    margin:8px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background: #5067c2;
}
input:checked + .slider {
    box-shadow:0 0 0 2px #5067c2,0 0 2px #5067c2;
}
