body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
}


@media (min-width:641px)  {
    body{
        font-size: 16px !important;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    min-width: 359px;
    transition: all 0.3s;
}
#accordion {
    margin: auto;
    padding: 5px;
    transition: all 0.3s;
    width:100% !important;
}

@media (min-width:641px)  { 
    #accordion{
        width:70% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #accordion{
        width:85% !important;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    font-size: 18px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}