body {
    color: red;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}
.form-control, .btn-submit, .btn-cancel {        
    border-radius: 3px;
}

.btn-submit, .btn-cancel{
    margin-left: 8px;
    margin-right: 8px;
    min-width: 140px;
    border: solid 1px;
    font-size: 16px;
    font-weight: bold;
}

.signup-form {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #F9F9F9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}	
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}
.signup-form input[type="checkbox"] {
    margin-top: 2px;
}   
.signup-form .btn-submit{        

    background: #6D7FCC;
    color: white;
    min-width: 140px;
}

.signup-form .btn-cancel{        
    background: #f7f7f7;
    color: #5067C2;
    border-color: #6D7FCC;
}

.signup-form .btn-submit:hover, .signup-form .btn-submit:focus{
    background: #5067C2;
    outline: none;
    cursor: pointer;
}

.signup-form .btn-submit:active{
    background: #4156a8;
}


.signup-form .btn-cancel:hover, .signup-form .btn-cancel:focus {
    background: #ededed;
    outline: none;
    cursor: pointer;
}

.signup-form .btn-cancel:active{
    background: #e2e2e2;
}

.signup-form a {
    color: #2D2D2D;	
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #5067C2;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 21px;
}
.signup-form .fa-envelope {
    font-size: 15px;
}

#mail-check{
    color: #fff;
    left: 14px;
    top: 16px;
    font-size: 9px;
    position: absolute;
}

.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}

.signup-tip{
    font-size: 14px;
}

.error-msg{
    font-size: 14px;
    color: #af2424;
    padding-bottom: 16px;
    text-align: center;
}